const label#imageUpload{
    margin-bottom:20px;
    border: 1px dashed #ddd;
    background-size:cover;
    cursor: pointer;
    height: 160px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  label#imageUpload input {
    display: none;
  }
  
  label#imageUpload.has-imageUpload{
    border: 0;
  }
  
  label#imageUpload.has-imageUpload img {
    display: none;
  }
  